<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Age Group Recommendation</title>
    <!-- link rel="stylesheet" href="{% static 'css/ageGroup.css' %}" -->
    <script defer src="{% static 'js/sidebar.js' %}"></script>
</head>
<body>

    <!-- Sidebar -->

    <!-- Main Content -->
    <div class="main-content">
        <div class="age-group-message">연령대에 맞는 책을 선택해보세요!</div>

        <form method="post" action="{% url 'book_list_by_agegroup' %}">
            {% csrf_token %}
            <div class="age-buttons">
                <button type="submit" name="age_group" value="infant">👶 Infant</button>
                <button type="submit" name="age_group" value="toddler">🧒 Toddler</button>
                <button type="submit" name="age_group" value="elementary">📚 Elementary</button>
                <button type="submit" name="age_group" value="teen">🎒 Teen</button>
                <button type="submit" name="age_group" value="adult">🧑 Adult</button>
            </div>
        </form>
    </div>
        <!-- search bar -->

</body>
</html>
